*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  color: #161616;
  font-family: "Nunito Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #fff;
  background-attachment: fixed;
}

.bruce {
  background-color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.bubble-bgwall {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.bubble-bgwall li {
  display: flex;
  position: absolute;
  bottom: -200px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #f3eeee;
  opacity: 0.15;
  color: #ccc;
  animation: bubble 15s infinite;
}
.bubble-bgwall li:nth-child(1) {
  left: 10%;
}
.bubble-bgwall li:nth-child(2) {
  left: 20%;
  width: 20px;
  height: 20px;
  animation-duration: 7s;
  animation-delay: 2s;
}
.bubble-bgwall li:nth-child(3) {
  left: 25%;
  animation-delay: 4s;
}
.bubble-bgwall li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  background: #f3eeee;
  opacity: 0.3;
  animation-duration: 8s;
}
.bubble-bgwall li:nth-child(5) {
  left: 70%;
}
.bubble-bgwall li:nth-child(6) {
  left: 80%;
  width: 30px;
  height: 30px;
  background: #f3eeee;
  opacity: 0.15;
  animation-delay: 3s;
}
.bubble-bgwall li:nth-child(7) {
  left: 32%;
  width: 70px;
  height: 70px;
  animation-delay: 2s;
}
.bubble-bgwall li:nth-child(8) {
  left: 55%;
  width: 40px;
  height: 40px;
  font-size: 12px;
  animation-duration: 15s;
  animation-delay: 4s;
}
.bubble-bgwall li:nth-child(9) {
  left: 25%;
  width: 40px;
  height: 40px;
  background: #f3eeee;
  opacity: 0.3;
  font-size: 12px;
  animation-duration: 12s;
  animation-delay: 2s;
}
.bubble-bgwall li:nth-child(10) {
  left: 85%;
  width: 80px;
  height: 80px;
  animation-delay: 5s;
}

@keyframes bubble {
  0% {
    opacity: 0.5;
    transform: translateY(0) rotate(45deg);
  }
  25% {
    opacity: 0.4;
    transform: translateY(-400px) rotate(90deg);
  }
  50% {
    opacity: 0.8;
    transform: translateY(-600px) rotate(135deg);
  }
  100% {
    opacity: 0;
    transform: translateY(-1000px) rotate(180deg);
  }
}
.tab-slider--nav {
  width: 100%;
  float: left;
  margin-bottom: 20px;
  padding: 0 10px;
}
@media screen and (max-width: 800px) {
  .tab-slider--nav {
    padding: 0 15px;
  }
}

.tab-slider--tabs {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  border-radius: 35px;
  overflow: hidden;
  background: #f1efef;
  height: 35px;
  -webkit-user-select: none;
          user-select: none;
}
.tab-slider--tabs:after {
  content: "";
  width: 50%;
  background: #51be77;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 250ms ease-in-out;
  border-radius: 35px;
}
.tab-slider--tabs.slide:after {
  left: 50%;
}

.tab-slider--trigger {
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
  color: #51be77;
  text-transform: uppercase;
  text-align: center;
  padding: 11px 20px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  transition: color 250ms ease-in-out;
  -webkit-user-select: none;
          user-select: none;
  border-radius: 35px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
}
.tab-slider--trigger:focus-within {
  background: none;
}
.tab-slider--trigger:hover {
  outline: none;
  background: none;
}
.tab-slider--trigger:active {
  outline: none;
  background: none;
}
.tab-slider--trigger:focus {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
  outline: none;
  background: none;
}
.tab-slider--trigger.active {
  color: #fff;
  border-radius: 35px;
}
.tab-slider--trigger.active:focus-within {
  background: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
}
.tab-slider--trigger.active:hover {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
  outline: none;
  background: none;
}
.tab-slider--trigger.active:active {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
  outline: none;
  background: none;
}
.tab-slider--trigger.active:focus {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
  outline: none;
  background: none;
  border-radius: 35px;
}

.tab-slider--container {
  width: 100%;
  position: relative;
}

.tab-slider--body {
  margin-bottom: 20px;
  width: 100%;
}

a {
  outline: none;
  text-decoration: none;
}

.content {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
}

.heading {
  width: 100%;
  margin-left: 1rem;
  font-weight: 900;
  font-size: 1.618rem;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
  line-height: 1;
  padding-bottom: 0.5em;
  margin-bottom: 1rem;
  position: relative;
}

.description {
  width: 100%;
  margin-top: 0;
  margin-left: 1rem;
  margin-bottom: 3rem;
}

.card, .othercard {
  color: inherit;
  cursor: pointer;
  width: calc(25% - 2.5rem);
  min-width: calc(25% - 2.5rem);
  position: relative;
  display: inline-block;
  height: 300px;
  min-height: 300px;
  perspective: 1000px;
  margin: 1rem;
  position: relative;
}
.card .work, .othercard .work {
  min-height: 280px;
  min-width: 200px;
  position: relative;
}
@media screen and (max-width: 480px) {
  .card .work, .othercard .work {
    min-height: 260px;
  }
}
.card .work .tit, .othercard .work .tit {
  font-weight: 600;
  font-size: 20px;
}
@media screen and (max-width: 640px) {
  .card .work, .othercard .work {
    min-width: 90%;
    margin: 0 5%;
  }
}
.card .icon, .othercard .icon {
  position: absolute;
  bottom: 1em;
  text-align: left;
}
.card .icon img, .othercard .icon img {
  width: 50px;
  max-width: 50px;
}
@media screen and (max-width: 640px) {
  .card .icon img, .othercard .icon img {
    max-width: 40px;
  }
}
.card .left_text, .othercard .left_text {
  text-align: left;
  margin: 0;
  font-size: 12px;
}
@media screen and (max-width: 800px) {
  .card, .othercard {
    width: calc(50% - 2.5rem);
    height: 400px;
    min-height: 400px;
  }
}
@media screen and (max-width: 480px) {
  .card, .othercard {
    width: calc(50% - 1.2rem);
    margin: 0.5rem;
    height: 280px;
    min-height: 280px;
  }
}

.other {
  display: flex;
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.front,
.back {
  display: flex;
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
}
.front .icon,
.back .icon {
  position: relative;
  text-align: center;
  bottom: 0;
}
.front .icon img,
.back .icon img {
  width: 60px;
  max-width: 60px;
}

.front {
  background-size: cover;
  padding: 2rem;
  font-size: 16px;
  color: #dfc776;
  overflow: hidden;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}
.front:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background-blend-mode: multiply, multiply;
  opacity: 0.25;
  z-index: -1;
}

.gray {
  color: #000;
  background-size: cover;
  padding: 5px;
}
.gray:before {
  position: absolute;
  display: block;
  border-radius: 6px;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-blend-mode: multiply, multiply;
  z-index: -1;
  background-image: #ccc;
}

.other {
  color: #000;
  background-size: cover;
  padding: 5px;
}
.other:before {
  position: absolute;
  display: block;
  border-radius: 6px;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-blend-mode: multiply, multiply;
  z-index: -1;
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.back {
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  transform: rotateY(-180deg);
  padding: 0 10px;
}
.back p {
  font-size: 20px;
  color: #161616;
}
.back p.titName {
  font-weight: 600;
  margin-top: 0;
}
.back p.titbox {
  font-weight: 600;
}
.back p.left_text {
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
.back p.left_text.detail {
  font-size: 12px;
}

.card.flipped .front {
  transform: rotateY(180deg);
}

.card.flipped .back {
  transform: rotateY(0deg);
}